<div class="row" ng-controller="preStartController as vm">
    <div class="col-sm-6">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="paner panel-login">

                        <div class="panel-heading">

                            <div class="row">
                                <button ng-click="vm.goLogin()" class="form-control btn btn-login">Login</button>
                            </div>

                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <button ng-click="vm.goRegister()" class="form-control btn btn-register">Register</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>